* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
    display: grid;
    /*border: 5px dashed red;*/
    color: #000;
    width: 100%;
    min-height: 100vh;
    font-family: 'inter', sans-serif;
    background: #e9e9e9;

}
.logo{
    background-image: url('imagenes/Logo.svg');
}

textarea::placeholder {
    color: #0A3871;
}
.ingresar-texto{
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    background: #F3F5FC;
    color: #0A3871;
    border: none;
    outline: none;
    resize: none;
    width: 677px;

}
.frame-1{
    /*background: #FFFFFF;*/
    flex-direction: column; 
}
.salida-texto1{
    display: block;
    font-size: 20px;
    color: #495057;
    text-align: justify;
    text-justify: auto ;
    text-overflow: "-";
    white-space: initial;
    word-break: break-all;
    height: 84%;
    flex: 1 1 0;
    /*visibility: hidden;*/

}
.button-copiar{
    border-radius: 24px;
    background: #FFFFFF;

    color: #0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 328px;
    height: 67px;
    border: 1px solid #0a3871;
    border-radius: 24px;
    text-align: center;
    visibility: hidden;

}


.imagen-munheco{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 326px;
    height: 290px;
    top: 283px;
    align-items: center;
    display: none;
}
.info{
    font-size: 9px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.button-Encriptar{
    
    border-radius: 24px;
    background: #0A3871;
    border: none;
    color: white;
    font-style: normal;
    font-size: 18px;
    box-sizing: border-box;
    width: 328px;
    height: 67px;
}
.button-Desencriptar{
    border-radius: 24px;
    background: #D8DFE8;
    border: none;
    color: #0A3871;
    font-style: normal;
    font-size: 18px;
    width: 328px;
    height: 67px;
    border: 1px solid #0a3871;
    border-radius: 24px;
}


.contenedor{
    width: 100%;
    margin: 0 0 0 0;
    padding: 40px 40px 15px 84px;
    display: grid;
    grid-template-columns:  0.15fr 0.15fr repeat(2, 0.55fr) 0.2fr 0.65fr 0.1fr;
    grid-template-rows: 0.2fr 0.2fr 1.5fr 0.3fr 0.1fr 0.24fr 0.3fr; 
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    background: #F3F5FC;

}

.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenidor .info,
.contenedor .footer{
    /*background: #fff;*/
    padding: 4px;
    border-radius: 4px;
    
}
.contenedor .header{
    /*background: rgb(215, 163, 163);*/
    color: #fff;

    grid-area:  1 / 1 / 2 / 5;
}
.contenedor .contenido{
    font-size: 13px;
    grid-area: 3 / 3 / 4 / 5;
    text-align: justify;
}
.contenedor .frame1{

    /*background: rgb(248, 211, 142);*/
    background: #FFFFFF;
    grid-area: 1 / 6 / 8 / 7;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 32px 32px 32px 32px;
    flex-direction :column;

}
.div8{
    grid-area: 3 / 6 / 4 / 7;
    background:#12203E;
    display: none;
}
.div9{
    grid-area: 6 / 6 / 7 / 7;
    background:#12203E;
    display: flex;
    align-items: center;
    display: none;
}

.contenedor .info{

    grid-area: 5 / 3 / 6 / 4;
    /*background: tomato;*/
}
.contenedor .button1{

    grid-area:  6 / 3 / 7 / 4;
    /*background: rgb(100, 100, 250);*/
    
}
.contenedor .button2{
    grid-area:  6 / 4 / 7 / 5;
    /*background: rgb(100, 100, 250);*/
}
.contenedor .footer{

    /*background: rgb(236, 226, 134);*/
    grid-area: 7 / 3 / 8 / 5;
}

@media screen and (max-width: 580px) {
    body{
        background: #000;

    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.02fr 0.1fr 0.3fr 0.1fr 0.01fr repeat(2, 0.02fr) 0.1fr 1.3fr 0.1fr  0.07fr;
        grid-column-gap: 5px;
        grid-row-gap: 10px;
        padding: 40px 40px 20px 40px;;
    }
    .contenedor .header{
        grid-area:  1 / 1 / 2 / 2;
    }    
    .contenedor .contenido{
        grid-area:  3 / 1 / 4 / 2;
    }
    .contenedor .info{
        grid-area:  5 / 1 / 6 / 2;
    }
    .contenedor .button1{
        grid-area:  6 / 1 / 7 / 2;
    }
    .contenedor .button2{
        grid-area:  7 / 1 / 8 / 2;
    }
    .contenedor .frame1{
        grid-area:  9 / 1 / 11 / 2;
    }
    .contenedor .div8{
       grid-area: 3  / 1 / 4 / 2;
       display: none;
    }
    .contenedor .div9{
        grid-area: 10  / 1 / 11 / 2;
        
     }
    .contenedor .footer{
        grid-area:  11 / 1 / 12 / 2;
    }
}

@media screen and (max-width: 750px) and (min-width: 460px) {
    body{
        background: grey;

    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 1.3fr 0.2fr 0.1fr 0.22fr 0.05fr 1.2fr 0.1fr 0.2fr; 
        grid-column-gap: 5px;
        grid-row-gap: 10px;
        padding: 40px 40px 20px 40px;;
        
    }
    .contenedor .header{
        grid-area:  1 / 1 / 2 / 4;
    }    
    .contenedor .contenido{
        grid-area:  3 / 1 / 3 / 4;
    }
    .contenedor .info{
        grid-area:  6 / 1 / 5 / 4;
    }
    .contenedor .button1{
        grid-area:  7 / 1 / 6 / 2;
    }
    .contenedor .button2{
        grid-area:  7 / 3 / 6 / 4;
    }
    .contenedor .frame1{
        grid-area:  8 / 1 / 10 / 4;
    }
    .contenedor .div8{
        grid-area:  7 / 1 / 8 / 2;
        display: none;
    }
    .contenedor .div9{
        grid-area:  9 / 1 / 10 / 4;
    }

    .contenedor .footer{
        grid-area:  10 / 1 / 11 / 4;
    }
}